<div class="col-md-12">
  <div class="panel panel-default">

    <div class="panel-heading">
      <h3 class="panel-title">Your Notifications</h3>

    </div>
      <div class="panel panel-headerless">

          <ul class="highlights list-unstyled">

            <li class="notify-row bg-gray">

              <div class="col-md-7">

                <a href="" class="pull-left">
                  <p class="text-bold">Md:shafiq Rashid chowdhury</p>

                </a>
              </div>
              <div class="col-md-3 notification ">
                <a href="" class="pull-center">
                  <p>Super Admin, 1 month ago</p>
                </a>
              </div>
              <div class="col-md-2 notification ">
                <a href="" class="pull-center">
                  <button class="note-close">×</button>
                </a>
              </div>
            </li>

            <li class="notify-row bg-gray">

              <div class="col-md-7">

                <a href="" class="pull-left">
                  <p class="text-bold">Md:shafiq Rashid chowdhury</p>

                </a>
              </div>
              <div class="col-md-3 notification ">
                <a href="" class="pull-center">
                  <p>Super Admin, 1 month ago</p>
                </a>
              </div>
              <div class="col-md-2 notification ">
                <a href="" class="pull-center">
                  <button class="note-close">×</button>
                </a>
              </div>
            </li>

            <li class="notify-row bg-gray">

              <div class="col-md-7">

                <a href="" class="pull-left">
                  <p class="text-bold">Md:shafiq Rashid chowdhury</p>

                </a>
              </div>
              <div class="col-md-3 notification ">
                <a href="" class="pull-center">
                  <p>Super Admin, 1 month ago</p>
                </a>
              </div>
              <div class="col-md-2 notification ">
                <a href="" class="pull-center">
                  <button class="note-close">×</button>
                </a>
              </div>
            </li>


          </ul>


      </div>


  </div>


</div>
