<div class="row">
  <div class="panel-body">

    <form role="form" id="form1" method="post" class="validate">

      <div class="row">
        <div class="col-md-12 percel-weight">
          <div class="form-group">
            <label class="control-label-label">Provider Name<span style="color:red"> *</span></label>

            <input type="text" class="form-control" name="name" data-validate="required"
                   data-message-required="This is custom message for required field." placeholder=""/>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label-label">Provider Number<span style="color:red"> *</span></label>

            <input type="text" class="form-control" name="name" data-validate="required"
                   data-message-required="This is custom message for required field." placeholder=""/>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label-label">Provider Email</label>

            <input type="text" class="form-control" name="name" data-validate="required"
                   data-message-required="This is custom message for required field." placeholder=""/>
          </div>
        </div>

        <div class="col-md-12 percel-weight">
          <div class="form-group">
            <label class="control-label-label">Provider Address<span style="color:red"> *</span></label>

            <textarea class="form-control noresize" ></textarea>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label-label">Provider Location<span style="color:red"> *</span></label>



            <select class="form-control select-search">
              <option>Select your zone</option>
              <option value="al">Uttara</option>
              <option value="au">Gulshan</option>
              <option value="bd">Banani</option>
              <option value="br">Mirpur</option>
              <option value="ca">Danmondi</option>
              <option value="cn">Old Dhaka</option>

            </select>

          </div>


        </div>



        <div class="col-md-6">


          <div class="form-group">
            <label class="control-label-label">Provider Zone<span style="color:red"> *</span> </label>


            <select class="form-control select-search" >
              <option>Outside Dhaka Delivery </option>
              <option value="al">SA Paribahan</option>
              <option value="al">Sundharban</option>

            </select>

          </div>



        </div>



        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label-label">Plan<span style="color:red"> *</span></label>



            <select class="form-control select-search" id="city">
              <option>Not Plan</option>

            </select>

          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">

          <div class="form-group">
            <label class="control-label-label">Payment Reason<span style="color:red"> *</span></label>



            <textarea class="form-control noresize" ></textarea>
          </div>



        </div>
      </div>

      <div class="row">

        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label-label">Amount To be Collected<span style="color:red"> *</span></label>

            <input type="text" class="form-control" name="name" data-validate="required"
                   data-message-required="This is custom message for required field." placeholder=""/>
          </div>
        </div>


        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label-label">Merchant Order ID</label>

            <input type="text" class="form-control" name="name" data-validate="required"
                   data-message-required="This is custom message for required field." placeholder=""/>
          </div>
        </div>
      </div>
      <div class="row">



      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label-label">Collection Date</label>

            <input type="text" class="form-control datepicker" name="join_date"
                   placeholder=""/>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label-label">Time Slot</label>

            <select class="form-control select-search" id="city">
              <option>Not Plan</option>

            </select>

          </div>
        </div>

      </div>



      <!--<div class="col-md-6">-->
      <!--<div id="gmapbg" class="c-content-contact-1-gmap" style="height: 450px;"></div>-->
      <!--</div>-->

      <div class="row">
        <div class="col-md-12 percel-weight">
          <div class="form-group">
            <label class="control-label-label">Special Instruction</label>

            <textarea class="form-control noresize" ></textarea>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-md-12 text-left">

          <button class="btn btn-success btn-form">

            <span>Save</span>
          </button>

          <button class="btn btn-info  btn-form">
            <span>Reset</span>
          </button>



        </div>
      </div>
    </form>
  </div>




</div>