<div>
    <div class="title-env">
        <h1 style="font-size:20px;" class="title">{{ title }}</h1>
    </div>

    <div class="breadcrumb-env">
        <!--<button class="btn btn-blue btn-sm btn-icon-standalone pull-right">
            <i class="fa fa-upload"></i>
            <span>Upload CSV</span>
        </button>-->
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="btn-group btn-group-justified">
            <a routerLink="./new-delivery" type="button" class="btn btn-warning btn-sm btn-shadow">New Delivery</a>
            <!--<a routerLink="./exchange" type="button" class="btn btn-success btn-sm btn-shadow">Exchange</a>-->
            <!--<a routerLink="./return-parcel" type="button" class="btn btn-purple btn-sm btn-shadow">Return Parcel</a>-->
            <!--<a routerLink="./cash-pickup"type="button" href="cashpickup.html"class="btn btn-info btn-sm btn-shadow">Cash Pickup</a>-->
        </div>
    </div>
</div><br><br>

<router-outlet></router-outlet>