<div class="page-title">
  <div class="title-env">
      <h1 style="font-size:20px;" class="title">Change Password</h1>
  </div>
</div>

<form method="post" role="form" id="login-form" class="login-form fade-in-effect" #loginForm="ngForm">
    <div class="alert alert-danger-light" role="alert" *ngIf="hasError">
        <button type="button" class="close" (click)="closeErrorAlert()">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong>Error!</strong> {{ hasError }}
        </div> 
        
    <div class="row">	
      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label-label">Old Password</label>
          <input type="text" class="form-control" name="old_password" id="old_password" [(ngModel)]="old_password" />
        </div>
      </div>
    </div>
<div class="row">
   <div class="col-md-6">
      <div class="form-group">
          <label class="control-label-label">New Password</label>
          <input type="password" class="form-control" name="password" id="password" [(ngModel)]="password">
      </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
     <div class="form-group">
         <label class="control-label-label">Confirm Password</label>
         <input type="password" class="form-control" name="password_confirmation" id="password_confirmation" [(ngModel)]="password_confirmation">
     </div>
</div>
</div>

<div class="row">

  <div class="col-md-6 text-left">
   <button type="submit"class="btn btn-success btn-form"  (click)="resetPassword()"><span>Save</span> </button>
      <button class="btn btn-danger btn-form"> <span>Cancel</span></button>
    </div>
 </div>
  </form>
