
<div class="row">

  <!-- <div class="panel-heading">
       <div class="panel-title">
        Customer Details
       </div>
   </div>-->



  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label class="control-label-label">Previous Consignment<span style="color:red"> *</span></label>

          <input type="text" class="form-control" name="name" data-validate="required"
                 data-message-required="This is custom message for required field." placeholder=""/>
        </div>
      </div>

    </div>



    <div class="row">

      <div class="col-md-12">
        <div class="form-group">
          <label class="control-label-label">Recipient Name<span style="color:red"> *</span></label>

          <input type="text" class="form-control" name="name" data-validate="required"
                 data-message-required="This is custom message for required field." placeholder=""/>
        </div>
      </div>

    </div>


    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label-label">Recipient Phone<span style="color:red"> *</span></label>

          <input type="text" class="form-control" name="name" data-validate="required"
                 data-message-required="This is custom message for required field." placeholder=""/>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label-label">Recipient Email<span style="color:red"> *</span></label>

          <input type="text" class="form-control" name="name" data-validate="required"
                 data-message-required="This is custom message for required field." placeholder=""/>
        </div>
      </div>


    </div>




    <div class="row">
      <div class="input-field col-md-12">
        <div class="form-group">
          <label class="control-label-label">Recipient Address<span style="color:red"> *</span></label>

          <textarea class="form-control noresize" ></textarea>
        </div>
      </div>
    </div>


    <div class="row">

      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label-label">Recipient Zone<span style="color:red"> *</span></label>

          <select class="form-control select-search" name="recipient_zone">
            <option>Dhaka</option>
            <option>Sylhet</option>
            <option>Chittagong</option>
            <option>Gazipur</option>
          </select>
        </div>
      </div>



      <div class="col-md-6">


        <div class="form-group">
          <label class="control-label-label">Recipient Area<span style="color:red"> *</span> </label>


          <select class="form-control select-search" id="pickup-address">
            <option>Select your Area</option>
            <option value="al">Uttara</option>
            <option value="au">Gulshan</option>
            <option value="bd">Banani</option>
            <option value="bd">Mirpur</option>

          </select>

        </div>



      </div>


      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label-label">Delivery Method<span style="color:red"> *</span></label>

          <select class="form-control select-search" id="third_delivery">
            <option></option>
            <option value="al">SA Paribahan</option>
            <option value="al">Sundharban</option>
          </select>

        </div>
      </div>


      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label-label">Plan<span style="color:red"> *</span></label>




          <select class="form-control select-search" id="third_delivery">
            <option></option>
            <option value="al">Inside Dhaka Up to 500gm(65Taka)</option>
            <option value="al">Inside Dhaka Up to 1kg (80Taka)</option>
          </select>

        </div>
      </div>


    </div>

    <div class="row">

      <div class="input-field col-md-6">
        <div class="form-group">
          <label class="control-label-label">Merchant Order Id<span style="color:red"></span></label>

          <input type="text" class="form-control" name="name" data-validate="required"
                 data-message-required="This is custom message for required field." placeholder=""/>


        </div>
      </div>



      <div class="input-field col-md-6">
        <div class="form-group">
          <label class="control-label-label">Cash Details<span style="color:red"></span></label>


          <select class="form-control">
            <option>Payable</option>
            <option>Receivable</option>
          </select>


        </div>
      </div>
    </div>



    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label-label">Delivery Date</label>

          <input type="text" class="form-control datepicker" name="join_date"
                 placeholder=""/>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label-label">Time Slot</label>

          <select class="form-control select-search" id="third_delivery">
            <option></option>
            <option value="">Morning</option>
            <option value="">Evening</option>
          </select>

        </div>
      </div>

    </div>

  </div>


  <!--  <div class="panel-heading">
        <div class="panel-title">
         Return Pickup Details
        </div>
    </div>-->





</div>

<div class="row">

  <div class="col-md-12 text-left">

    <button class="btn btn-success btn-form">

      <span>Save</span>
    </button>

    <button class="btn btn-info  btn-form">

      <span>Reset</span>
    </button>

    <button class="btn btn-danger btn-form ">

      <span>Save & Close</span>
    </button>



  </div>

</div>

