.update-message {
    padding: 0 5px;
    background: yellow;
    width: 25%;
    text-align: center;
    border-radius: 0 0 4px 4px;
    margin: 0 auto;
    top: 0;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    color: black;
    z-index: 1000;
}
.update-message a {
    text-decoration: underline;
}
