<div class="tab-pane" id="reached">
    <div class="panel-body admin-datatable">
        <div class="table-responsive">
            <table class="table table-bordered table-hover sys_table footable" data-filter="#foo_filter"
                   data-page-size="50">
                <thead>
                <tr class="replace-inputs">
                    <th class="no-sorting">
                        <input type="checkbox" class="cbr">
                    </th>
                    <th>Consignment</th>
                    <th>Customer Name</th>
                    <th>Phone</th>
                    <th>Date</th>
                    <th>Merchant Label</th>
                    <th>Amount</th>
                    <th>Status</th>
                    <th class="no-sorting text-center">Manage</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let product of products">
                    <td>
                        <input type="checkbox" (change)="checkConsignments($event, product.uid)" class="cbr">
                    </td>
                    <th>{{ product.uid }}</th>
                    <td>{{ product.customer.name }}</td>
                    <td>{{ product.customer.phone}}</td>
                    <td>{{ product.date_delivery}}</td>
                    <td>{{ product.order_label }}</td>
                    <td>{{ product.customer_collectible }}</td>
                    <td>
                        <app-status [status]="product.status_delivery" [page]="'returned'"></app-status>
                    </td>
                    <td class="text-right">
                        <a class="btn btn-blue btn-xs" title="view"><i class="fa fa-eye"
                                                                       (click)="showConsignment(product.uid)"></i>
                        </a>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr *ngIf="products && products.length < 1">
                    <td class="text-center" colspan="9">No data found</td>
                </tr>
                </tfoot>
            </table>

            <div class="row">
                <div class="col-md-12 text-right">
                    <ngb-pagination *ngIf="pagination && pagination.total > 0" [collectionSize]="pagination.total"
                                    [(page)]="pagination.current_page" [(pageSize)]="pagination.per_page"
                                    (pageChange)="onPageChange($event)" [maxSize]="5" [rotate]="true" [ellipses]="false"
                                    [boundaryLinks]="true" aria-label="Default pagination"></ngb-pagination>
                </div>
            </div>
        </div>
    </div>
</div>
